{% extends "todo/base.html" %}

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h1>About</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h1>Create Todos</h1>
            <p>Create Todos lets you write down your own tasks that you plan to do and <br> 
            saves them in the Current Todos section.</p>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h2>Current Todos</h2>
            <p>Current Todos contains all the things that are still pending on your behalf <br>
                and you aim to complete them.
            </p>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h2>Completed Todos</h2>
            <p>Completed Todos contains all the tasks that you had created for yourself <br>
                and were completed.
            </p>
        </div>
    </div>


{% endblock %}